<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andcloud"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true">
        <!-- avoscloud 意见反馈 -->
        <activity android:name="com.andcloud.activity.ThreadActivity" 
            android:screenOrientation="portrait">
        </activity>
        
        <!-- QQ第三方登陆 意见反馈 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1101813947" />
 				<!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
			android:name="com.tencent.connect.common.AssistActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
    </application>

</manifest>
