<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andpack">
    <!--xmlns:tools="http://schemas.android.com/tools"-->

    <application
        android:label="@string/app_name">
        <!--tools:replace="android:theme"-->
        <!--android:theme="@style/AppTheme.SwipeBack"-->

        <activity android:name=".activity.ApFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".activity.ApFragmentSingleTopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.ApFragmentSingleInstanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack"
            android:launchMode="singleInstance"/>

        <activity android:name=".activity.ApFragmentSingleTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SwipeBack"
            android:launchMode="singleTask"/>

    </application>

</manifest>
